.Popup{
    background-color: #6A6A6A;
    background-image: linear-gradient(#E5DFCA, #6A6A6A);
    z-index: 9;
    position: fixed;
    padding: 40px;
    max-width: calc(100vw - 350px);
    width: 80vw;
    right: 0;
    height: 100vh;
}
.Popup .BackButton{
    margin-bottom: 20px;
}
.Popup .ImdbIcon{
    width: 40%;
    margin: 0;
}