.SortingPanelWrapper{
    max-width: calc(100% - 350px);
    width: 80%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.SortingPanel{
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    .SortingPanelWrapper{
        display: none;
    }
}