.SortingPanelWrapper{
    max-width: calc(100% - 500px);
    width: 70%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.SortingPanel{
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
    .SortingPanelWrapper{
        position: relative;
        z-index: 901;
        height: 80%;
        min-width: 100vw;
    }
    .SortingPanel{
        height: 100%;
        min-width: 100%;
        z-index: 901;
        flex-direction: column;
        align-items: center;
    }
}